#section_geografiya .crm-entity-widget-content-block:nth-child(n+2), 
#section_zdanie .crm-entity-widget-content-block:nth-child(2),
#section_zdanie .crm-entity-widget-content-block:nth-child(5),
#section_zemelnyy_uchastok .crm-entity-widget-content-block:nth-child(2),
.hide-field {
  display:none;
}

div.show-field {
  display: block!important;
}

div[data-cid="UF_CRM_1540392018"],
div[data-cid="UF_CRM_1540392118"],
div[data-cid="UF_CRM_1540393032"] {
  padding: 11px 0;
  border-bottom: 1px solid #e8ecee;
}

div[data-cid="UF_CRM_1540392018"] .crm-entity-widget-content-block-title-text,
div[data-cid="UF_CRM_1540392118"] .crm-entity-widget-content-block-title-text,
div[data-cid="UF_CRM_1540393032"] .crm-entity-widget-content-block-title-text {
  display: inline-block;
  height: 23px;
  color: #525c69;
  vertical-align: middle;
  text-transform: uppercase;
  font: 600 11px/23px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}