<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PDF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>


	<div class="page">
	
		<div class="top">
		
			<div class="col-3">
				<div class="logo">
				</div>
			</div>
		
			<div class="col-3 tc">
				<p>КОНСТАНТИН ПЕТРОВ
				<p>+7 495 <strong>945 0 459</strong>
				<p>info@broker.ru			
			</div>
			
			<div class="col-3 tr">
				<p>+7 495 <strong>248 0 428</strong>
				<p>info@bridgeford.ru
				<p>bridgeford.ru			
			</div>
		
		</div>
		
		<div class="title">
			<div class="h1 red">АРЕНДА ПОМЕЩЕНИЯ</div>
			<div class="h2">#ADDRESS#</div>
			<div class="h3">#RENT_TYPE#, <strong>Лот #LOT#</strong></div>
		</div>
		
		<div class="map">
		
			<div class="col-left">
				<img src="img/map.png">
			</div>
			
			<div class="col-right">
				<div class="h4">МЕСТОПОЛОЖЕНИЕ</div>
				<p>Округ: <strong>#AREA#</strong>
				<p>Адрес: <span>#ADDR#</span>
				<p>Метро: <span>м. #METRO#</span>, <b>#METRO_TIME#</b>

				<div class="h4" style="margin-top: 60px;">Помещение</div>
				<p>Стоимость аренды: <strong style="font-size:24px">#PRICE# #CURRENCY#</strong> в месяц
				<p>Общая площадь: <strong>#SQUARE# м2</strong>
				<p>Стоимость за 1 кв.м. в год: <strong>#PRICE_1YEAR# #CURRENCY#</strong>
				<p><strong>Индексация: <span style="font-size:24px;">#INDEXS# % </span></strong>				
			</div>
		
		</div>
		
		<div class="description">
		
			<div class="cl3">
				<div class="h4"> </div>
				<p>Этаж: <strong>#FLOOR#</strong>
				<p>Этажность дома: <strong>#FLOORS#</strong>
				<p>Тип здания: <span>#BUILDING#</span>
				<p>Тип помещения: <strong>#BUILD_TYPE#</strong>
			</div>
			
			<div class="cl3">
				<div class="h4">ПАРАМЕТРЫ ПОМЕЩЕНИЯ</div>
				<p>Высота потолков: <strong>#CEILING# метра</strong>
				<p>Эл. мощность: <strong>#ELECTRIC# кВт</strong>
				<p>Ремонт: <span>#OVERHOUL#</span>
				<p>Вход: <span>#INPUT#<</span>
			</div>
			
			<div class="cl3">
				<div class="h4"> </div>
				<p>Общая площадь: <strong>#SQUARE# м2</strong>
				<p>Торговая площадь: <strong>#SQUARE# м2</strong>
			</div>
		
		</div>
		
		<div class="bot">
			#ADDRESS#
		</div>

	</div>
	
	<div class="sep"></div>
	
	<div class="page">
	
		<div class="top">
		
			<div class="col-3">
				<div class="logo">
				</div>
			</div>
		
			<div class="col-3 tc">
				<p>КОНСТАНТИН ПЕТРОВ
				<p>+7 495 <strong>945 0 459</strong>
				<p>info@broker.ru			
			</div>
			
			<div class="col-3 tr">
				<p>+7 495 <strong>248 0 428</strong>
				<p>info@bridgeford.ru
				<p>bridgeford.ru			
			</div>
		
		</div>
		
		<div class="text">
		
		<div class="h4">ОБЩЕЕ ОПИСАНИЕ ОБЪЕКТА</div>
			#DESCRIPTION#
		</div>
		
		<div class="images">
		
			<img src="img/1.png">
			<img src="img/2.png">
			<img src="img/3.png">
			<img src="img/4.png">
		
		</div>
		
		
		<div class="bot">
			#ADDRESS#
		</div>

	</div>	
	
	




</body>
</html>