<!DOCTYPE html>
<html>
<head>
  <link href="style.css" type="text/css" rel="stylesheet" media="mpdf">
</head>
<body>
<table width="100%">
<tr><td colspan="3" align="center"><h1>#TYPE# ПОМЕЩЕНИЯ</h1></td></tr>
<tr><td colspan="3" align="center"><h2>#ADDRESS#</h2></td></tr>
<tr><td colspan="3" align="center"><h5>#RENT_TYPE# Лот #LOT#</h5></td></tr>
<tr><td colspan="2" rowspan="2" class="description" valign="top">
<img src="#MAP#" width="500" height="415" class="map">
</td> 
<td class="location"><br><h3>МЕСТОПОЛОЖЕНИЕ</h3><br>
<div class="row">Округ: <b>#AREA#</b></div><br>
<div class="row">Адрес: <b>#ADDR#</b></div><br>
<div class="row">Метро: #METRO#, <br><b>#METRO_TIME#</b></div>
</td>
<tr><td class="pom"><h3>ПОМЕЩЕНИЕ</h3><br>
<div class="row">Стоимость аренды: <br><b class="price">#PRICE#</b> в месяц</div><br>
<div class="row">Общая площадь: <b>#SQUARE# м<sup>2</sup></b></div><br>
<div class="row">Стоимость за 1 м<sup>2</sup> в год: <b>#PRICE_1YEAR#</b></div><br>
<div class="row" style="display: #INDEXS_DISPLAY#;">Индексация: <b>#INDEXS# %</b></div><br>
</td>
<tr>
  <td colspan="3" class="parameters" align="center"><h3>ПАРАМЕТРЫ ПОМЕЩЕНИЯ</h3></td>
</tr>
<tr class="row_column">
  <td>
		<div class="row">Этаж: <b>#FLOOR#</b></div><br>
		<div class="row">Этажность дома: <b>#FLOORS#</b></div><br>
		<div class="row">Тип здания: <b>#BUILDING#</b></div><br>
		<div class="row">Тип помещения: <b>#BUILD_TYPE#</b></div><br>
  </td>
  <td>
		<div class="row">Высота потолков: <b>#CEILING# мет#CEIL_PREFIX#</b></div><br>
		<div class="row">Эл. мощность: <b>#ELECTRIC# кВт</b></div><br>
		<div class="row">Ремонт:  <b>#OVERHOUL#</b></div><br>
		<div class="row">Вход: <b>#INPUT#</b></div><br>
  </td>
  <td class="row_square" valign="top"><br>
		<div class="row">Общая площадь: <b>#SQUARE# м<sup>2</sup></b></div><br>
  </td>
</tr>
<!-- <tr><td colspan="3" align="center"><div class="line"></div><br><h6>#ADDRESS#</h6></td></tr> -->
</table>

<table class="general_description" width="100%">
<tr><td><h3>ОБЩЕЕ ОПИСАНИЕ ОБЪЕКТА</h3><br><br></td></tr>
<tr><td colspan="2"><p>#DESCRIPTION#</p></td></tr>
#IMAGES#
<tr><td colspan="2" align="center" class="addr_bottom"><div class="line"></div><br><h6>#ADDRESS#</h6></td></tr>
</table>
</body>
</html>