div[data-cid="UF_CRM_1545390183"],
div[data-cid="UF_CRM_1545390196"],
div[data-cid="UF_CRM_1545390372"],
div[data-cid="UF_CRM_1545390443"],
div[data-cid="UF_CRM_1547117777330"],
div[data-cid="UF_CRM_1547204833"],
div[data-cid="UF_CRM_1547204738"],
div[data-cid="UF_CRM_1547218859"],
div[data-cid="UF_CRM_1547551577246"],
div[data-cid="UF_CRM_1547628374048"],
div[data-cid="UF_CRM_1547628348754"],
div[data-cid="UF_CRM_1547218455352"],
div[data-cid="UF_CRM_1547218493343"],
div[data-cid="UF_CRM_1547218667182"],
div[data-cid="UF_CRM_1547218758"],
div[data-cid="UF_CRM_1547218826"],
div[data-cid="UF_CRM_1565854434"],
div[data-cid="UF_CRM_1547631814802"],
div[data-cid="UF_CRM_1547631768634"],
div[data-cid="UF_CRM_1565250284"],
div[data-cid="UF_CRM_1565853455"],
div[data-cid="UF_CRM_1547218608920"],
div[data-cid="UF_CRM_1547121130737"],
div[data-cid="UF_CRM_1547631768634"],
div[data-cid="UF_CRM_1565276254256"],
div[data-cid="UF_CRM_1565850691"],
div[data-cid="UF_CRM_1565872302"],
div[data-cid="UF_CRM_1566986090829"],
div[data-cid="UF_CRM_1569396924"],
div[data-cid="UF_CRM_1565250601"],
div[data-cid="UF_CRM_1565250252"],
div[data-cid="UF_CRM_1565858762"],
.crm-section_arendator {
  display:none!important;
}
div.show-field {
  display: block!important;
}
div[data-cid="UF_CRM_1547218667182"] .field-item input,
div[data-cid="UF_CRM_1565853455"]  .field-item input {
  border:inherit!important;
  background-color:#fff;
}
div[data-cid="UF_CRM_1547218667182"] :before,
div[data-cid="UF_CRM_1547218684391"] :before,
div[data-cid="UF_CRM_1547628374048"] :before,
div[data-cid="UF_CRM_1547218667182"] :before,
div[data-cid="UF_CRM_1565853455"] :before, 
.only-read :before { 
  content: ' ';
  width: 100%;
  height: 105%;
  position: absolute;
  top: -10px;
  left: 0px;
  z-index: 9111;
  background: #e8ecee00;
}